<h1>Add a new photo</h1>

<form action="/create_photo">
    <div>
    <label for="pic_url">Image URL</label>
    <input type="text" id="pic_url" name="img_source">
    </div>
    <div>
    <label for="pic_caption">Caption</label>
    <input type="text"id="pic_caption" name="img_caption">
    </div>
    <button>Create Photo</button>
</form>